/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #17a1fa;
  --secondary: #7a61ff;
  --tertiary: #ff00ff;
  --black: #0a2942;
  --gray-default: #636b78;
  --gray-light: #a1a6ad;
  --gray-lighter: #d1d4d6;
  --kascade-styles-black: #000000;
  --kascade-styles-cod-gray: #101010;
  --kascade-styles-cod-gray: #131313;
  --kascade-styles-cod-gray: #191414;
  --kascade-styles-mine-shaft: #202020;
  --kascade-styles-mine-shaft: #333333;
  --kascade-styles-dove-gray: #676767;
  --kascade-styles-boulder: #777777;
  --kascade-styles-boulder: #7a7a7a;
  --kascade-styles-dusty-gray: #9c9c9c;
  --kascade-styles-silver-chalice: #9f9f9f;
  --kascade-styles-silver-chalice: #b1b1b1;
  --kascade-styles-silver: #bfbfbf;
  --kascade-styles-silver: #c1c1c1;
  --kascade-styles-silver: #c8c8c8;
  --kascade-styles-silver: #cccccc;
  --kascade-styles-alto: #dddddd;
  --kascade-styles-mercury: #e9e9e9;
  --kascade-styles-gallery: #f0f0f0;
  --kascade-styles-white: #ffffff;
  --kascade-styles-burning-orange: #ff7043;
  --kascade-styles-west-side: #ff8f08;
  --kascade-styles-amber: #fcc005;
  --kascade-styles-amber: #ffc107;
  --kascade-styles-pear: #cddc39;
  --kascade-styles-bright-turquoise: #00edc8;
  --kascade-styles-aquamarine-blue: #6ec1e4;
  --kascade-styles-oslo-gray: #818a91;
  --kascade-styles-woodsmoke: #171a1d;
  --kascade-styles-shark: #212529;
  --kascade-styles-azure-radiance: #007bff;
  --kascade-styles-abbey: #54595f;
  --kascade-styles-woodsmoke: #101215;
  --kascade-styles-catskill-white: #eef1f6;
  --kascade-styles-astronaut: #2b447c;
  --kascade-styles-blue-charcoal: #020d26;
  --kascade-styles-blue-ribbon: #0652fd;
  --kascade-styles-regent-gray: #818aa7;
  --kascade-styles-athens-gray: #e8e9ee;
  --kascade-styles-royal-blue: #5424eb;
  --kascade-styles-royal-blue: #5425ed;
  --kascade-styles-torch-red: #f6121c;

  /* Fonts */
  --display-font-family: Inter-Black, sans-serif;
  --display-font-size: 48px;
  --display-line-height: 72px;
  --display-font-weight: 900;
  --display-font-style: normal;
  --headline-font-family: Inter-ExtraBold, sans-serif;
  --headline-font-size: 32px;
  --headline-line-height: 48px;
  --headline-font-weight: 800;
  --headline-font-style: normal;
  --title-font-family: Inter-Bold, sans-serif;
  --title-font-size: 24px;
  --title-line-height: 36px;
  --title-font-weight: 700;
  --title-font-style: normal;
  --body-font-family: Inter-Regular, sans-serif;
  --body-font-size: 16px;
  --body-line-height: 24px;
  --body-font-weight: 400;
  --body-font-style: normal;
  --small-font-family: Inter-Regular, sans-serif;
  --small-font-size: 14px;
  --small-line-height: 24px;
  --small-font-weight: 400;
  --small-font-style: normal;
  --kascade-styles-h1-font-family: Inter-Regular, sans-serif;
  --kascade-styles-h1-font-size: 16px;
  --kascade-styles-h1-line-height: normal;
  --kascade-styles-h1-font-weight: 400;
  --kascade-styles-h1-font-style: normal;
  --kascade-styles-h2-font-family: Inter-Bold, sans-serif;
  --kascade-styles-h2-font-size: 20px;
  --kascade-styles-h2-line-height: normal;
  --kascade-styles-h2-font-weight: 700;
  --kascade-styles-h2-font-style: normal;
  --kascade-styles-h3-font-family: Inter-Bold, sans-serif;
  --kascade-styles-h3-font-size: 100px;
  --kascade-styles-h3-line-height: normal;
  --kascade-styles-h3-font-weight: 700;
  --kascade-styles-h3-font-style: normal;
  --kascade-styles-h4-font-family: Inter-Bold, sans-serif;
  --kascade-styles-h4-font-size: 22px;
  --kascade-styles-h4-line-height: normal;
  --kascade-styles-h4-font-weight: 700;
  --kascade-styles-h4-font-style: normal;
  --kascade-styles-h6-font-family: Poppins-Medium, sans-serif;
  --kascade-styles-h6-font-size: 19px;
  --kascade-styles-h6-line-height: normal;
  --kascade-styles-h6-font-weight: 500;
  --kascade-styles-h6-font-style: normal;
  --kascade-styles-p-font-family: SegoeUi-Bold, sans-serif;
  --kascade-styles-p-font-size: 14px;
  --kascade-styles-p-line-height: normal;
  --kascade-styles-p-font-weight: 700;
  --kascade-styles-p-font-style: normal;
  --kascade-styles-a-font-family: SegoeUi-Regular, sans-serif;
  --kascade-styles-a-font-size: 10px;
  --kascade-styles-a-line-height: normal;
  --kascade-styles-a-font-weight: 400;
  --kascade-styles-a-font-style: normal;
  --kascade-styles-li-font-family: SegoeUi-Regular, sans-serif;
  --kascade-styles-li-font-size: 10px;
  --kascade-styles-li-line-height: normal;
  --kascade-styles-li-font-weight: 400;
  --kascade-styles-li-font-style: normal;
  --kascade-styles-div-font-family: SegoeUi-Regular, sans-serif;
  --kascade-styles-div-font-size: 10px;
  --kascade-styles-div-line-height: normal;
  --kascade-styles-div-font-weight: 400;
  --kascade-styles-div-font-style: normal;
  --kascade-styles-span-font-family: Poppins-Medium, sans-serif;
  --kascade-styles-span-font-size: 12px;
  --kascade-styles-span-line-height: normal;
  --kascade-styles-span-font-weight: 500;
  --kascade-styles-span-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
